* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}


body {
    height: 100vh;
    background-color: #000;
    background-image: url(../images/Untitled.png);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: rgb(255, 187, 0);
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size:1.5rem;
    font-weight: bold;
}


.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
 
.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU*/

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content:  center;
}

.dropdown_menu .action_btn
{
    width: 100%;
    display: flex;
    justify-content: center;
}



/* RESPONSIVE DESIGN */

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    
    .dropdown_menu {
        display: block;
    }
}


@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

}

/*Hero*/

section#hero{
    height: calc(100vh - 60px);  /*-60px din cauza linie 92*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: orange;
}

section#hero h1{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

section#hero p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-size: 23px;
}



/*ASTA ESTE DOAR HEADER UL CU LINK URI*/

/*a 2 a pagina*/

section#content1 {
    height: calc(100vh - 60px);  /*-60px din cauza linie 92*/
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 80px;   
    font-size: 24px; 
    
}

section#content1 h1{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

section#content1 p{
    color: #ffffff;
    padding-left: 90px;
    padding-top: 50px;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section#content1 p a{
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section#content1 p u{
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section#content1 h4{
    color: orange;
    padding-left: 90px;
    padding-top: 50px;
    font-size: 25px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


section#content1 li{
    color: #ffffff;
    padding-left: 130px;
    padding-top: 50px;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section#content1 li b{
    color: orange;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*A 3 A PAGINA WHAT ARE REPS.*/

section#content1 li a{
    color: #fff;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}
section#content1 li a:hover {
    color: rgb(255, 187, 0);
}

section#content1 #page3{
    color : tomato;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

section#content1 #page3 u {
    color: rgb(153, 28, 28);
}

/*TRANSITION FADE*/

.transition-fade {
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}


/*CONTACT PAGE*/

section#contact {
    height: calc(100vh - 60px);  /*-60px din cauza linie 92*/
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 80px;   
    font-size: 24px; 
}


section#contact p{
    color: #ffffff;
    padding-left: 90px;
    padding-top: 50px;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section#contact p b{
    color: orange;
    font-size: 23px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}


/*Personal page*/

section#personal {
    height: calc(100vh - 60px);  /*-60px din cauza linie 92*/
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 80px;   
    font-size: 24px;
}

section#personal p{
    color: #ffffff;
    padding-left: 90px;
    padding-top: 50px;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section#personal a{
    color: #fff;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}
section#personal a:hover {
    color: rgb(255, 187, 0);
}



